# Drill - SQLite - Joins & CTEs

In [1]:
import sqlite3

In [2]:
file = 'bikeshare.db'
conn = sqlite3.connect(file)
c = conn.cursor()

# QUERY 1:  What are the three longest trips on rainy days?

In [3]:
q1 = c.execute('''
                WITH
                    rainy_days
                AS (
                    SELECT
                        Date
                    FROM
                        weather
                    WHERE
                        Events = "Rain"
                    GROUP BY 1
                )
                SELECT
                    trip_id,
                    duration,
                    DATE(start_date) trip_date
                FROM
                    trips
                JOIN
                    rainy_days
                ON
                    rainy_days.date = trip_date
                ORDER BY duration DESC
                LIMIT 3
                ''').fetchall()

In [4]:
q1

[('1173890', 85900, '2016-04-22'),
 ('1009870', 84349, '2015-11-15'),
 ('1210487', 83915, '2016-05-21')]

# QUERY 2:  Which station is full most often?

In [5]:
q2 = c.execute('''
               SELECT
                   status.station_id,
                   stations.name,
                   COUNT(CASE WHEN status.docks_available=0 then 1 END) empty_count
                FROM
                    status
                JOIN
                    stations
                ON
                    stations.station_id = status.station_id
                GROUP BY 1
                ORDER BY empty_count DESC
                ''').fetchall()

In [6]:
q2

[(70, 'San Francisco Caltrain (Townsend at 4th)', 23450),
 (73, 'Grant Avenue at Columbus Avenue', 12338),
 (69, 'San Francisco Caltrain 2 (330 Townsend)', 9852),
 (54, 'Embarcadero at Bryant', 9231),
 (50, 'Harry Bridges Plaza (Ferry Building)', 7590),
 (61, '2nd at Townsend', 6372),
 (60, 'Embarcadero at Sansome', 5894),
 (48, 'Embarcadero at Vallejo', 5868),
 (4, 'Santa Clara at Almaden', 5788),
 (65, 'Townsend at 7th', 5279),
 (63, 'Howard at 2nd', 4998),
 (84, 'Ryland Park', 4949),
 (64, '2nd at South Park', 4740),
 (74, 'Steuart at Market', 3992),
 (45, 'Commercial at Montgomery', 2916),
 (37, 'Cowper at University', 2402),
 (27, 'Mountain View City Hall', 2359),
 (57, '5th at Howard', 2282),
 (39, 'Powell Street BART', 1874),
 (36, 'California Ave Caltrain Station', 1745),
 (42, 'Davis at Jackson', 1608),
 (55, 'Temporary Transbay Terminal (Howard at Beale)', 1528),
 (3, 'San Jose Civic Center', 1444),
 (46, 'Washington at Kearney', 1342),
 (76, 'Market at 4th', 1251),
 (35, 'University and Emerson', 1193),
 (41, 'Clay at Battery', 1100),
 (71, 'Powell at Post (Union Square)', 1075),
 (56, 'Beale at Market', 1064),
 (6, 'San Pedro Square', 1037),
 (82, 'Broadway St at Battery St', 953),
 (75, 'Mechanics Plaza (Market at Battery)', 939),
 (28, 'Mountain View Caltrain Station', 868),
 (33, 'Charleston Park/ North Bayshore Area', 852),
 (7, 'Paseo de San Antonio', 829),
 (16, 'SJSU - San Salvador at 9th', 681),
 (51, 'Embarcadero at Folsom', 670),
 (2, 'San Jose Diridon Caltrain Station', 626),
 (9, 'Japantown', 604),
 (77, 'Market at Sansome', 578),
 (62, '2nd at Folsom', 567),
 (12, 'SJSU 4th at San Carlos', 550),
 (11, 'MLK Library', 487),
 (49, 'Spear at Folsom', 408),
 (68, 'Yerba Buena Center of the Arts (3rd @ Howard)', 375),
 (13, 'St James Park', 321),
 (32, 'Castro Street and El Camino Real', 289),
 (47, 'Post at Kearney', 287),
 (8, 'San Salvador at 1st', 270),
 (5, 'Adobe on Almaden', 179),
 (58, 'San Francisco City Hall', 152),
 (66, 'South Van Ness at Market', 130),
 (67, 'Market at 10th', 41),
 (72, 'Civic Center BART (7th at Market)', 6),
 (90, '5th St at Folsom St', 5),
 (88, '5th S. at E. San Salvador St', 3),
 (31, 'San Antonio Shopping Center', 2),
 (89, 'S. Market st at Park Ave', 2),
 (91, 'Cyril Magnin St at Ellis St', 1),
 (10, 'San Jose City Hall', 0),
 (14, 'Arena Green / SAP Center', 0),
 (29, 'San Antonio Caltrain Station', 0),
 (30, 'Middlefield Light Rail Station', 0),
 (34, 'Palo Alto Caltrain Station', 0),
 (38, 'Park at Olive', 0),
 (59, 'Golden Gate at Polk', 0),
 (80, 'Santa Clara County Civic Center', 0)]

# QUERY 3:  Return a list of stations with a count of number of trips starting at that station but ordered by dock count.

In [7]:
q3 = c.execute('''
                SELECT
                    trips.start_station,
                    stations.dockcount,
                    COUNT(*)
                FROM
                    trips
                JOIN
                    stations
                ON
                    stations.name = trips.start_station
                GROUP BY 1, 2
                ORDER BY 2 DESC
                ''').fetchall()

In [8]:
q3

[('Cyril Magnin St at Ellis St', 35, 69),
 ('5th St at Folsom St', 31, 173),
 ('2nd at Townsend', 27, 14099),
 ('Market at 10th', 27, 9937),
 ('Market at Sansome', 27, 10970),
 ('San Jose Diridon Caltrain Station', 27, 4035),
 ('Civic Center BART (7th at Market)', 23, 5043),
 ('Golden Gate at Polk', 23, 3309),
 ('Harry Bridges Plaza (Ferry Building)', 23, 16128),
 ('Mountain View Caltrain Station', 23, 2515),
 ('Palo Alto Caltrain Station', 23, 1170),
 ('San Antonio Caltrain Station', 23, 611),
 ('San Francisco Caltrain 2 (330 Townsend)', 23, 22358),
 ('Steuart at Market', 23, 13693),
 ('Temporary Transbay Terminal (Howard at Beale)', 23, 13111),
 ('2nd at Folsom', 19, 7464),
 ('Adobe on Almaden', 19, 789),
 ('Arena Green / SAP Center', 19, 547),
 ('Beale at Market', 19, 7373),
 ('Embarcadero at Folsom', 19, 7820),
 ('Grant Avenue at Columbus Avenue', 19, 6735),
 ('Howard at 2nd', 19, 7583),
 ('MLK Library', 19, 630),
 ('Market at 4th', 19, 7337),
 ('Mechanics Plaza (Market at Battery)', 19, 5613),
 ('Powell Street BART', 19, 6826),
 ('Powell at Post (Union Square)', 19, 4488),
 ('SJSU 4th at San Carlos', 19, 363),
 ('San Francisco Caltrain (Townsend at 4th)', 19, 23591),
 ('San Francisco City Hall', 19, 2195),
 ('South Van Ness at Market', 19, 5398),
 ('Spear at Folsom', 19, 5113),
 ('Yerba Buena Center of the Arts (3rd @ Howard)', 19, 3460),
 ('2nd at South Park', 15, 7722),
 ('5th at Howard', 15, 5436),
 ('Broadway St at Battery St', 15, 5695),
 ('California Ave Caltrain Station', 15, 392),
 ('Charleston Park/ North Bayshore Area', 15, 343),
 ('Clay at Battery', 15, 4357),
 ('Commercial at Montgomery', 15, 4969),
 ('Davis at Jackson', 15, 5240),
 ('Embarcadero at Bryant', 15, 7714),
 ('Embarcadero at Sansome', 15, 13424),
 ('Embarcadero at Vallejo', 15, 4710),
 ('Japantown', 15, 945),
 ('Middlefield Light Rail Station', 15, 66),
 ('Mountain View City Hall', 15, 1291),
 ('Park at Olive', 15, 276),
 ('Paseo de San Antonio', 15, 833),
 ('Ryland Park', 15, 879),
 ('SJSU - San Salvador at 9th', 15, 481),
 ('San Antonio Shopping Center', 15, 559),
 ('San Jose City Hall', 15, 518),
 ('San Jose Civic Center', 15, 543),
 ('San Pedro Square', 15, 1215),
 ('San Salvador at 1st', 15, 540),
 ('Santa Clara County Civic Center', 15, 420),
 ('St James Park', 15, 694),
 ('Townsend at 7th', 15, 11170),
 ('Castro Street and El Camino Real', 11, 1014),
 ('Cowper at University', 11, 788),
 ('Santa Clara at Almaden', 11, 1447),
 ('University and Emerson', 11, 490)]

# QUERY 4:  (Challenge) What's the length of the longest trip for each day it rains anywhere?

In [9]:
q4 = c.execute('''
                WITH
                    rainy_days
                AS (
                    SELECT
                        Date
                    FROM
                        weather
                    WHERE
                        Events = "Rain"
                    GROUP BY 1
                ),
                    rainy_trips
                AS (
                    SELECT
                        trip_id,
                        duration,
                        DATE(start_date) trip_date
                    FROM
                        trips
                    JOIN
                        rainy_days
                    ON
                        rainy_days.date = trip_date
                    ORDER BY duration DESC
                )
                SELECT
                    trip_date,
                    MAX(duration)
                FROM
                    rainy_trips
                GROUP BY 1
               ''').fetchall()

In [10]:
q4

[('2015-09-02', 25917),
 ('2015-09-13', 21695),
 ('2015-09-16', 50241),
 ('2015-09-30', 25667),
 ('2015-10-01', 51081),
 ('2015-10-15', 27467),
 ('2015-10-16', 19073),
 ('2015-10-19', 41555),
 ('2015-10-27', 11107),
 ('2015-11-01', 43899),
 ('2015-11-02', 12246),
 ('2015-11-08', 7874),
 ('2015-11-09', 12838),
 ('2015-11-10', 61234),
 ('2015-11-12', 37799),
 ('2015-11-15', 84349),
 ('2015-11-24', 22478),
 ('2015-11-25', 3617),
 ('2015-11-30', 58759),
 ('2015-12-03', 16722),
 ('2015-12-06', 39450),
 ('2015-12-10', 8540),
 ('2015-12-11', 19186),
 ('2015-12-13', 57019),
 ('2015-12-18', 27880),
 ('2015-12-19', 33629),
 ('2015-12-20', 13739),
 ('2015-12-21', 18927),
 ('2015-12-22', 3999),
 ('2015-12-24', 8472),
 ('2015-12-27', 30361),
 ('2015-12-28', 7034),
 ('2015-12-30', 12416),
 ('2016-01-03', 61900),
 ('2016-01-04', 25318),
 ('2016-01-05', 5452),
 ('2016-01-06', 6401),
 ('2016-01-07', 28640),
 ('2016-01-08', 25855),
 ('2016-01-09', 11347),
 ('2016-01-10', 14749),
 ('2016-01-11', 26442),
 ('2016-01-13', 7866),
 ('2016-01-14', 76700),
 ('2016-01-15', 11580),
 ('2016-01-16', 14961),
 ('2016-01-17', 15935),
 ('2016-01-18', 38626),
 ('2016-01-19', 64444),
 ('2016-01-22', 62168),
 ('2016-01-23', 25977),
 ('2016-01-28', 44070),
 ('2016-01-29', 51243),
 ('2016-01-30', 14082),
 ('2016-01-31', 18996),
 ('2016-02-01', 50928),
 ('2016-02-02', 18517),
 ('2016-02-03', 9438),
 ('2016-02-17', 31017),
 ('2016-02-18', 9928),
 ('2016-02-19', 13743),
 ('2016-03-03', 29319),
 ('2016-03-04', 26338),
 ('2016-03-05', 1878),
 ('2016-03-06', 24693),
 ('2016-03-07', 41493),
 ('2016-03-08', 21212),
 ('2016-03-09', 7375),
 ('2016-03-10', 12285),
 ('2016-03-11', 24845),
 ('2016-03-12', 46320),
 ('2016-03-13', 3769),
 ('2016-03-14', 41092),
 ('2016-03-20', 36895),
 ('2016-03-21', 27357),
 ('2016-03-22', 67375),
 ('2016-03-28', 30027),
 ('2016-04-08', 78123),
 ('2016-04-09', 6220),
 ('2016-04-10', 43422),
 ('2016-04-14', 50495),
 ('2016-04-21', 14883),
 ('2016-04-22', 85900),
 ('2016-04-27', 6565),
 ('2016-05-06', 59642),
 ('2016-05-07', 82896),
 ('2016-05-08', 18632),
 ('2016-05-09', 28055),
 ('2016-05-21', 83915),
 ('2016-06-14', 25396),
 ('2016-06-17', 81687),
 ('2016-07-18', 52051)]

In [11]:
conn.close()