# Unit 3 - Lesson 2 - Drill - Random Forest - Guided Example Supplement

### Guided Example setup material from notebook on Thinkful website

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import sklearn
import warnings
%matplotlib inline

In [2]:
# Suppress annoying harmless error.
warnings.filterwarnings(action="ignore", module="sklearn")

In [3]:
# Replace the path with the correct path for your data.
y2015 = pd.read_csv(
    'https://www.dropbox.com/s/0so14yudedjmm5m/LoanStats3d.csv?dl=1',
    skipinitialspace=True,
    header=1, low_memory=False
)

In [4]:
y2015.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,68009401,72868139.0,16000.0,16000.0,16000.0,60 months,14.85%,379.39,C,C5,...,0.0,2.0,78.9,0.0,0.0,2.0,298100.0,31329.0,281300.0,13400.0
1,68354783,73244544.0,9600.0,9600.0,9600.0,36 months,7.49%,298.58,A,A4,...,0.0,2.0,100.0,66.7,0.0,0.0,88635.0,55387.0,12500.0,75635.0
2,68466916,73356753.0,25000.0,25000.0,25000.0,36 months,7.49%,777.55,A,A4,...,0.0,0.0,100.0,20.0,0.0,0.0,373572.0,68056.0,38400.0,82117.0
3,68466961,73356799.0,28000.0,28000.0,28000.0,36 months,6.49%,858.05,A,A2,...,0.0,0.0,91.7,22.2,0.0,0.0,304003.0,74920.0,41500.0,42503.0
4,68495092,73384866.0,8650.0,8650.0,8650.0,36 months,19.89%,320.99,E,E3,...,0.0,12.0,100.0,50.0,1.0,0.0,38998.0,18926.0,2750.0,18248.0

In [5]:
categorical = y2015.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

id
421097
term
2
int_rate
110
grade
7
sub_grade
35
emp_title
120812
emp_length
11
home_ownership
4
verification_status
3
issue_d
12
loan_status
7
pymnt_plan
1
url
421095
desc
34
purpose
14
title
27
zip_code
914
addr_state
49
earliest_cr_line
668
revol_util
1211
initial_list_status
2
last_pymnt_d
25
next_pymnt_d
4
last_credit_pull_d
26
application_type
2
verification_status_joint
3

In [6]:
# Convert ID and Interest Rate to numeric.
y2015['id'] = pd.to_numeric(y2015['id'], errors='coerce')
y2015['int_rate'] = pd.to_numeric(y2015['int_rate'].str.strip('%'), errors='coerce')

# Drop other columns with many unique variables
y2015.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
            'sub_grade', 'addr_state', 'desc'], 1, inplace=True)

In [7]:
y2015.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
421092,36271333.0,38982739.0,13000.0,13000.0,13000.0,60 months,15.99,316.07,D,5 years,...,0.0,3.0,100.0,50.0,1.0,0.0,51239.0,34178.0,10600.0,33239.0
421093,36490806.0,39222577.0,12000.0,12000.0,12000.0,60 months,19.99,317.86,E,1 year,...,1.0,2.0,95.0,66.7,0.0,0.0,96919.0,58418.0,9700.0,69919.0
421094,36271262.0,38982659.0,20000.0,20000.0,20000.0,36 months,11.99,664.20,B,10+ years,...,0.0,1.0,100.0,50.0,0.0,1.0,43740.0,33307.0,41700.0,0.0
421095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
y2015 = y2015[:-2]

In [9]:
y2015.shape

(421095, 103)

In [10]:
y2015.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
421090,36371250.0,39102635.0,10000.0,10000.0,10000.0,36 months,11.99,332.10,B,8 years,...,0.0,1.0,100.0,100.0,0.0,0.0,32950.0,25274.0,9200.0,15850.0
421091,36441262.0,39152692.0,24000.0,24000.0,24000.0,36 months,11.99,797.03,B,10+ years,...,0.0,2.0,56.5,100.0,0.0,0.0,152650.0,8621.0,9000.0,0.0
421092,36271333.0,38982739.0,13000.0,13000.0,13000.0,60 months,15.99,316.07,D,5 years,...,0.0,3.0,100.0,50.0,1.0,0.0,51239.0,34178.0,10600.0,33239.0
421093,36490806.0,39222577.0,12000.0,12000.0,12000.0,60 months,19.99,317.86,E,1 year,...,1.0,2.0,95.0,66.7,0.0,0.0,96919.0,58418.0,9700.0,69919.0
421094,36271262.0,38982659.0,20000.0,20000.0,20000.0,36 months,11.99,664.20,B,10+ years,...,0.0,1.0,100.0,50.0,0.0,1.0,43740.0,33307.0,41700.0,0.0

In [11]:
pd.get_dummies(y2015).shape

(421095, 237)

### Supplemental Exercise - Finding important features for the model

###### Initial model

In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

rfc = RandomForestClassifier()
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

cross_val_score(rfc, X, Y, cv=10)

array([0.98045641, 0.98074137, 0.98076512, 0.98173874, 0.96862978,
       0.97888863, 0.94146145, 0.98050298, 0.98012207, 0.9801691 ])

###### Determining the importance of model features

In [13]:
clf = RandomForestClassifier(max_depth=3, n_estimators=100, random_state=0)
clf.fit(X,Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=3, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [14]:
feats = {'index': [], 'feat_name': [], 'val': []}
for i, val in enumerate(clf.feature_importances_):
    feats['index'].append(i)
    feats['feat_name'].append(X.columns[i])
    feats['val'].append(val)

feats = pd.DataFrame(feats)

In [15]:
feats.head()

   index        feat_name       val
0      0               id  0.000528
1      1        member_id  0.000526
2      2        loan_amnt  0.001999
3      3      funded_amnt  0.002504
4      4  funded_amnt_inv  0.002532

###### Total of values in the 'val' column sum to 1

In [16]:
feats['val'].sum()

1.0

###### Top 20 features ranked by importance

In [17]:
feats.sort_values('val', ascending=False).set_index('index').head(20)

                         feat_name       val
index
15                       out_prncp  0.187205
24                 last_pymnt_amnt  0.174845
16                   out_prncp_inv  0.121207
19                 total_rec_prncp  0.079101
151          last_pymnt_d_Jan-2017  0.072915
181    last_credit_pull_d_Jan-2017  0.070780
166          next_pymnt_d_Feb-2017  0.070208
17                     total_pymnt  0.045193
193    last_credit_pull_d_Oct-2016  0.027051
22                      recoveries  0.020208
23         collection_recovery_fee  0.018526
18                 total_pymnt_inv  0.015471
161          last_pymnt_d_Nov-2016  0.014664
157          last_pymnt_d_Mar-2016  0.011391
20                   total_rec_int  0.009968
144          last_pymnt_d_Aug-2016  0.009762
163          last_pymnt_d_Oct-2016  0.004878
148          last_pymnt_d_Feb-2016  0.004651
176    last_credit_pull_d_Dec-2016  0.004637
155          last_pymnt_d_Jun-2016  0.004266

###### Removing the first 3 features related to payment amount / outstanding principal and finding the minimum number of features needed to achieve an average of 90% accuracy in a 10-fold cross validation

In [18]:
list(feats.sort_values('val', ascending=False)[3:7]['feat_name'])

['total_rec_prncp',
 'last_pymnt_d_Jan-2017',
 'last_credit_pull_d_Jan-2017',
 'next_pymnt_d_Feb-2017']

In [19]:
important_feats = list(feats.sort_values('val', ascending=False)[3:7]['feat_name'])

In [20]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

rfc = RandomForestClassifier()
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)
X = X[important_feats]

In [21]:
scores = cross_val_score(rfc, X, Y, cv=10)
print(scores)

[0.93160932 0.91163829 0.90278075 0.93170431 0.89028734 0.91852292
 0.91647866 0.91438885 0.89600304 0.92051014]

In [22]:
avg = np.mean(scores)
print(avg)

0.9133923609226681